
body {
    background-color: gold;
}
 #bige1 {
    
   position: absolute; 
   border: 90px;
    width: 250px;
    height: 250px;
    bottom: 25%;
   background-color:navy;
   border-top-right-radius: 100px;
   border-top-left-radius: 100px;
   z-index: -5;
    }
    #nose { position: absolute;
        bottom: 40%;
         width: 90px;
         height: 90px;
         background-color: orangered;
         left: 180px;
         transform: rotate(45deg);
        z-index: -10;
    }
    #eye {
     position: absolute;
        left: 150px;
        top: 300px;
      width: 45px;
      height: 45px;
      border-radius: 50px;
      Background-color: antiquewhite ;
      z-index: 100;
    }
    #main {default:flex;}